html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  color: #fff;
}

#light, #dark {
  background-size: cover;
  background-position: center;
}

#light {
  background-image: url('./assets/lightmodeBackground.jpg');
  }
  
  #dark {
    background-image: url('./assets/darkmodeBackground.jpg');
  }  

.location-search {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.location-search input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
}

#light .location-search input {
  background-color: #f0f8ff;
  color: #000;
}

#dark .location-search input {
  background-color: #333;
  color: #fff;
}

.location-search button {
  padding: 3px 8px; 
  font-size: 30px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

#light .location-search button {
  background-color: #007bff;
  color: white;
}

#dark .location-search button {
  background-color: #007bff83;
  color: #fff;
}

#light .location-search button:hover {
  background-color: #0056b3;
}

#dark .location-search button:hover {
  background-color: #0057b37b;
}

.theme-toggle-button {
  position: fixed;
  top: 20px;
  right: 20px;
}