.forecast-day {
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }
#light .forecast-day {
    background: #f0f8ff;
    color: #000;
  }

  #dark .forecast-day {
    background: #333;
    color: #fff;
  }

  .forecast-day-content .weather-icon {
    font-size: 60px;
  }